body {
  font-family: roboto; sans-serif;
  background-color: #FFF; 
}

:root{
  --background-color: #FFF;
  --text-color: #2E2F42;
  --footer-text-color: #F4F4FD;
  --footer-bg-color: #2E2F42;
  --paragraph-color: #434455;
}




/**-----Header



