body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
:root {
  --cornflower-color: #e7e9fc;
  --background-color: #ffffff;
  --text-color: #2e2f42;
  --paragraph-color: #434455;
  --footer-text-color: #f4f4fd;
  --footer-bg-color: #2e2f42;
  --web-logo-color: #4d5ae5;
  --nav-color: #404bbf;
  --hero-bg: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* width: 1158px; */
  width: 1158px;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

/*! Header style */

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  gap: 40px;
  display: flex;
}

.nav-item-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--nav-color);
}
.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  color: var(--web-logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
}
.web-logo {
  color: var(--text-color);
}

.list-item {
  list-style-type: none;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.contacts {
  margin-left: auto;
}
.contacts-link {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--nav-color);
}

/* MAIN */
.section-hero {
  background-color: var(--hero-bg);
  padding: 188px 0;
}

.main-title {
  max-width: 496px;
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
}

.order-button {
  background-color: var(--web-logo-color);
  color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--nav-color);
}
/*! SECTION FEAURE */

.section-feature {
  padding: 120px 0;
}
.feature-title {
  font-family: inherit;
  color: var(--footer-bg-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-text {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.feature-item {
  width: 100%;
  max-width: 264px;
}
.feature-list {
  gap: 24px;
  display: flex;
}

/*!-------SECTION WHAT ARE WE DOING------- */

.section-works {
  padding-bottom: 120px;
}
.works-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}
.work-container {
}

.section-works-title {
  color: var(--hero-bg);
  text-align: center;
  margin-bottom: 72px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/*!------SECTION OUR TEAM--------- */
.section-our-team {
  background-color: var(--footer-text-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-our-team {
  color: var(--footer-bg-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  color: var(--footer-bg-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-position {
  color: var(--paragraph-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: var(--background-color);
}
/*!---------------------FOOTER--------------- */
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer {
  color: #f4f4fd;
}
.footer-logo-link {
  margin-bottom: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*!--------filters--------*/
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.button-filters {
  background-color: var(--footer-text-color);
  color: var(--web-logo-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
}

.filters-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.btn-fiters-item {
  color: var(--web-logo-color);
  text-align: center;
}

.button-filters:hover,
.button-filters:focus {
  background-color: var(--nav-color);
  color: var(--background-color);
}
.portfolio-img-title {
  color: var(--footer-bg-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
  padding: 0 16px;
}
.portfolio-img-text {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0 16px;
}
.filters-item {
  padding-bottom: 32px;
  border: 1px solid var(--cornflower, #e7e9fc);
}
